Flow5.json
[
    {
        "id": "f04b55fd8b31d7f3",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "263e95894888312b",
        "type": "http request",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/onecall?lat=19.5625307&lon=-99.1304031&exclude=exclude=hourly,daily&appid=ae9374342bcd445888376912a9e4531e&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 410,
        "y": 80,
        "wires": [
            [
                "b66068732e1a9d17"
            ]
        ]
    },
    {
        "id": "b66068732e1a9d17",
        "type": "json",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 590,
        "y": 80,
        "wires": [
            [
                "a4fc29d3e3cff6ae",
                "a2b55742410e1368",
                "3142fdf6b349c9e3"
            ]
        ]
    },
    {
        "id": "1b5b4a80afb8d49f",
        "type": "inject",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "263e95894888312b",
                "37a0cda26371603c"
            ]
        ]
    },
    {
        "id": "eebd0be544069452",
        "type": "ui_gauge",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "group": "755c4fd5c87aab86",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": "2",
        "max": "38",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1030,
        "y": 80,
        "wires": []
    },
    {
        "id": "5c52140d008666cf",
        "type": "ui_gauge",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "group": "755c4fd5c87aab86",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1020,
        "y": 140,
        "wires": []
    },
    {
        "id": "a4fc29d3e3cff6ae",
        "type": "function",
        "z": "f04b55fd8b31d7f3",
        "name": "temperatura",
        "func": "msg.payload = msg.payload.current.temp;\nglobal.set (\"tempFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 80,
        "wires": [
            [
                "eebd0be544069452"
            ]
        ]
    },
    {
        "id": "a2b55742410e1368",
        "type": "function",
        "z": "f04b55fd8b31d7f3",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.current.humidity;\nglobal.set (\"humFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 140,
        "wires": [
            [
                "5c52140d008666cf"
            ]
        ]
    },
    {
        "id": "561d89306f7fd535",
        "type": "mqtt in",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "topic": "codigoIoT/G8/mosquitto/flow5",
        "qos": "2",
        "datatype": "auto",
        "broker": "b19cfbfb792f6aa6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 300,
        "wires": [
            [
                "fb99bec918bae18b"
            ]
        ]
    },
    {
        "id": "fb99bec918bae18b",
        "type": "json",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 390,
        "y": 300,
        "wires": [
            [
                "8fd9b67069f64d98",
                "bca37b88ae22b5da",
                "ac3758fe11951b03",
                "5a6d586f8548ef3d"
            ]
        ]
    },
    {
        "id": "8fd9b67069f64d98",
        "type": "function",
        "z": "f04b55fd8b31d7f3",
        "name": "Temperatura",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 300,
        "wires": [
            [
                "c714a92eed04459a"
            ]
        ]
    },
    {
        "id": "c714a92eed04459a",
        "type": "ui_chart",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "group": "23e233393ff5a984",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "55",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "bca37b88ae22b5da",
        "type": "function",
        "z": "f04b55fd8b31d7f3",
        "name": "Humedad",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 360,
        "wires": [
            [
                "0e0cab023d5ab5d5"
            ]
        ]
    },
    {
        "id": "0e0cab023d5ab5d5",
        "type": "ui_chart",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "group": "23e233393ff5a984",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humedad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "721c7cf4c46249ef",
        "type": "inject",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "0af1ad7a1a079456"
            ]
        ]
    },
    {
        "id": "0af1ad7a1a079456",
        "type": "function",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "func": "msg.payload = '{\"id\":\"Yohan -Chalma de G.\",\"temp\":'+global.get (\"tempFlow5\")+',\"hum\":'+global.get (\"humFlow5\")+',\"uv\":'+global.get (\"uvFlow5\")+',\"aqi\":'+global.get (\"aqiFlow5\")+'}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 500,
        "wires": [
            [
                "289beee62d425e29",
                "ddaddc81120908c4"
            ]
        ]
    },
    {
        "id": "289beee62d425e29",
        "type": "debug",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 560,
        "wires": []
    },
    {
        "id": "ddaddc81120908c4",
        "type": "mqtt out",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "topic": "codigoIoT/G8/mosquitto/flow5",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b19cfbfb792f6aa6",
        "x": 670,
        "y": 500,
        "wires": []
    },
    {
        "id": "7219cb922c33014d",
        "type": "comment",
        "z": "f04b55fd8b31d7f3",
        "name": "Solicitud API",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "6f61ea005a736b25",
        "type": "comment",
        "z": "f04b55fd8b31d7f3",
        "name": "Informacion General",
        "info": "",
        "x": 150,
        "y": 260,
        "wires": []
    },
    {
        "id": "206e6ca4247f2b50",
        "type": "comment",
        "z": "f04b55fd8b31d7f3",
        "name": "Enviador",
        "info": "",
        "x": 120,
        "y": 460,
        "wires": []
    },
    {
        "id": "3142fdf6b349c9e3",
        "type": "function",
        "z": "f04b55fd8b31d7f3",
        "name": "uv",
        "func": "msg.payload = msg.payload.current.uvi;\nglobal.set (\"uvFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 200,
        "wires": [
            [
                "47b6bb8d60a053e0"
            ]
        ]
    },
    {
        "id": "47b6bb8d60a053e0",
        "type": "ui_gauge",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "group": "755c4fd5c87aab86",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "UV",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "15",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1010,
        "y": 200,
        "wires": []
    },
    {
        "id": "37a0cda26371603c",
        "type": "http request",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://api.openweathermap.org/data/2.5/air_pollution?lat=19.5625307&lon=-99.1304031&appid=ae9374342bcd445888376912a9e4531e",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "853c7cf353209f83"
            ]
        ]
    },
    {
        "id": "853c7cf353209f83",
        "type": "json",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 590,
        "y": 240,
        "wires": [
            [
                "3e259cd9429a5a97"
            ]
        ]
    },
    {
        "id": "3e259cd9429a5a97",
        "type": "function",
        "z": "f04b55fd8b31d7f3",
        "name": "aqi",
        "func": "msg.payload = msg.payload.list[0].main.aqi;\nglobal.set (\"aqiFlow5\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 240,
        "wires": [
            [
                "437334ab6e3e5320"
            ]
        ]
    },
    {
        "id": "437334ab6e3e5320",
        "type": "ui_gauge",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "group": "755c4fd5c87aab86",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Calidad del Aire",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1040,
        "y": 240,
        "wires": []
    },
    {
        "id": "ac3758fe11951b03",
        "type": "function",
        "z": "f04b55fd8b31d7f3",
        "name": "uv",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.uv;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 400,
        "wires": [
            [
                "be395d8998c27b0f"
            ]
        ]
    },
    {
        "id": "5a6d586f8548ef3d",
        "type": "function",
        "z": "f04b55fd8b31d7f3",
        "name": "AQI",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.aqi;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 440,
        "wires": [
            [
                "30f8cebeadfb176d"
            ]
        ]
    },
    {
        "id": "be395d8998c27b0f",
        "type": "ui_chart",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "group": "23e233393ff5a984",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "UV",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "15",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "30f8cebeadfb176d",
        "type": "ui_chart",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "group": "23e233393ff5a984",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Calidad del Aire",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "5",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "e869a5e422314d93",
        "type": "ui_spacer",
        "z": "f04b55fd8b31d7f3",
        "name": "spacer",
        "group": "755c4fd5c87aab86",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "755c4fd5c87aab86",
        "type": "ui_group",
        "name": "Personal",
        "tab": "17dcf33741d41f5a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b19cfbfb792f6aa6",
        "type": "mqtt-broker",
        "name": "Broker G8",
        "broker": "35.157.252.226",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "23e233393ff5a984",
        "type": "ui_group",
        "name": "General",
        "tab": "17dcf33741d41f5a",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "17dcf33741d41f5a",
        "type": "ui_tab",
        "name": "Flow 5",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]